$accent: #249241;
$brand: #0055A5;
$highlight: #2B2829;


.nav-pills li a {
  font-family: 'Kite One', sans-serif; 
  &:hover, &:focus {
    background-color: $brand;
    color:  #FFFBF1;
  }
}

h2 {
  font-family: 'Kite One', sans-serif;
  color: $accent;
}

h3 {
  font-family: 'Kite One', sans-serif;
  color: $accent;
}

.uni-li {
  list-style: none;
}
.uni-logo {
  height: 150px;
  float: left;
}

footer {
  text-align: center;
  background-color: $highlight;
}